@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
font-family: 'Abril Fatface';
font-weight: 400;
font-size: 15px;
background: url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
background-size: 100% 100%;
}

a {
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
}

section{
  width: 100%;
  height: auto;
  border-bottom: 1px solid #f6c89f ;
}

nav{
  text-align: center;
  position: fixed;
  z-index: 1;
  top:80px;
  right: 0;
}

ul{
  width: fit-content;
  margin: auto;
  list-style: none;
  text-align: right;
}

ul li{
  float: left;
  margin-right: 30px;
}

ul li a{
  color: black;
  line-height: 30px;
  text-decoration: none;
  letter-spacing: 0.5px;
}

ul li a:hover{
  color:#f6c89f;
}

h1{
  font-size:50px;
  color: black;
  letter-spacing: 2px;
  margin-left: 30px;
  margin-top: 30px;
  color: #f6c89f;
}

h2{
  font-size: 85px;
  padding-left: 40px;
  color: #f6c89f;

}

h3{
  font-size: 50px;
  padding-left:30px;
  color: #f6c89f;
  padding-top: 30px;
}

#about-me h3{
  color:black;
  font-size: 30px;
  padding-left: 100px;
}

#about-me h4{
  color:black;
  font-size: 20px;
  padding-left: 100px;
}

#about-me p{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: right;
  padding-left: 30px;
  padding-right: 600px;
  padding-bottom: 30px;
}

#end{
  text-align: center;
  padding-bottom: 100px;
}

#end2{
  padding-bottom: 50px;
}

#title{
  padding-bottom: 100px;
}

section #contact{
  height: 100px;
}

p{
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
}

#about-me img{
  flex: auto;
  padding-bottom: 30px;
}

.center {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden;
padding: 200px}

div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}
