@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

body {
font-family: 'Abril Fatface';
font-weight: 400;
font-size: 15px;
}

a {
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
}

section{
  width: 100%;
  height: auto;
  border-bottom: 1px solid black ;
}

nav{
  text-align: center;
  position: fixed;
  z-index: 1;
  top:80px;
  right: 0;
}

ul{
  width: fit-content;
  margin: auto;
  list-style: none;
}

ul li{
  float: left;
  margin-right: 30px;
}

ul li a{
  color: black;
  line-height: 30px;
  text-decoration: none;
  letter-spacing: 0.5px;
}

ul li a:hover{
  color:#f6c89f;
}

h1{
  font-size:50px;
  color: black;
  letter-spacing: 2px;
  margin-left: 30px;
  margin-top: 30px;
  color: #f6c89f;
}

h2{
  font-size: 100px;
  padding-left: 40px;
  color: #f6c89f;

}

h3{
  font-size: 50px;
  padding-left:30px;
  color: #f6c89f;
}

#about-me img{
  padding-left: 700px;
}

#project-01 img{
  width: 1000px;
}

#project-02 img{
  width: 1000px;
}

section #contact{
  height: 100px;
}

p{
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
}

#about-me img{
  flex: auto;
  padding-bottom: 30px;
}
